.expense-form {
    text-align: center;
    font-size: 30px;
    display: block;
    margin: 10px 20px;
}
input {
    font-size: 20px;
    border: solid 3px rgba(5, 61, 30, 0.959);
    margin: 20px ;
    padding: 10px;
    
}

button {
    border-radius: 8px;
    padding: 12px 80px;
    font-size: 20px;
    background-color: rgb(119, 22, 46);
    color: white;
    align-items: center;
    margin: 20px;

}



@media(min-width: 480px) {
    .btn-action {
        text-align: center;
        flex-direction: row;
        align-items: center;
    }
}